/* global style */

body {
    background-color: black;
    font-family: 'Roboto Mono', sans-serif;
    color: #fff;
    text-align: center;
}

/* social links footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    margin-top: auto;
}
footer a:hover {
    color: black;
}

.social-networks {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
    padding: 0;
}

.social-networks ul {
    display: flex;
    align-items: center;
}

.social-networks li {
    font-size: 160%;
    padding: 10px;
    color: #fff;
    list-style-type: none;
}

/* Style for index page */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.container img {
    align-self: center;
    flex: 1;
    max-width: 100%;
    max-height: 400px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.container ul {
    align-self: center;
    flex: 1;
    max-width: 700px;
    max-height: 400px;
}

.container ul li {
    margin: 0;
    list-style-type: none;
   
}

.btn {
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    background: red 0%;
    border-radius: 4px;
    color: #fff;


}

.highscore-btn {
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    background: blue 0%;
    border-radius: 4px;
    color: #fff;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 red;
    transition: transform 150ms;
    transform: scale(1.01);
}

.highscore-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 blue;
    transition: transform 150ms;
    transform: scale(1.01);
}